/* HEADER */
.main-header {
    background-color: #d2e9f3;
    padding: 10px 20px;
    /*border-bottom: 2px solid #ddd;*/
    display: flex;
    align-items: center;
    justify-content: left; 
}

.logo-container {
    max-width: 220px;
}

.logo {
    width: 100%;
    height: auto;
}

/* LOGIN */
body {
    font-family: 'Exo', sans-serif;
    background-color: #d2e9f3
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-container h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 36px;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #008488;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #000;
}

/*ESTILO DEL MENSAJE DE ERROR DE USUARIO O CONTRASEÑA Y CIERRE DE SESIÓN*/
.error {
    color: #c62828;
    background-color: #ffebee;
    border: 1px solid #c62828;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 10px;
}

.mensaje {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 10px;
}

/*ESTILO PARA LA VENTANA MODAL DE LA POLITICA DE PROTECCION DE DATOS*/
/* Fondo semitransparente del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

/* Contenedor principal del contenido */
.modal-contenido {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    /* para limitar el alto */
    overflow-y: auto;
    /* permite scroll dentro del modal */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: inherit;
    /* mantiene la fuente original */
}

/* Botón de cierre */
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
}

/* Evita que cambie el formato de la página al abrir el modal */
body.modal-abierto {
    overflow: hidden;
}